<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="header-area-logada"></th:block>

<body class="interfaceLogada">

	<section id="lateral">
		<th:block th:include="menu-area-logada"></th:block>
	</section>
	<main>
		<section id="conteudo">
			<h1>Alterar instituição financeira</h1>


			<th:block th:include="mensagem-validacao"></th:block>

			<form class="row g-3" method="post">

				<div class="col-md-4">
					<label for="nome" class="form-label">Nome da instituição</label> <input
						type="text" class="form-control" name="nome" required
						th:attr="value = ${instituicao.nome}">
				</div>
				<div class="col-md-8"></div>
				<div class="col-md-6">
					<button class="btn btn-primary" type="submit">Atualizar</button>
				</div>
				<div class="col-md-6">
					<a href="config-instituicao-financeira">
						<button class="btn btn-primary" type="button">Voltar</button>
					</a>
				</div>
			</form>


		</section>
	</main>



	<th:block th:include="footer"></th:block>

</body>

</html>