
<header>
	<img id="logo" src="_imagens/logo_color.svg" alt="Logo better glauco">
	<p class="marca">Better Glauco</p>
</header>
<nav>
	<ul>
		<li><a href="logada_intro.html"> Investimentos </a></li>
		<li>Orçamento</li>
	</ul>
</nav>
<section id="controles">
	<a href="index.html"> <img src="_imagens/icones/fechar.svg"
		class="img-fluid" alt="Renda fixa">
	</a> <img src="_imagens/icones/ajuda.svg" class="img-fluid"
		alt="Renda fixa"> <img src="_imagens/icones/configurar.svg"
		class="img-fluid" alt="Renda fixa">
</section>