
<header>
	<img id="logo" src="_imagens/logo_color.svg" alt="Logo better glauco">
	<p class="marca">Better Glauco</p>
</header>
<nav>
	<ul>
		<li><a href="interno"> Investimentos </a></li>
		<li>Orçamento</li>
	</ul>
</nav>
<section id="controles">

	<a href="index"> 
		<img src="_imagens/icones/fechar.svg" class="img-fluid" alt="Fechar">
	</a> 
		<img src="_imagens/icones/ajuda.svg" class="img-fluid"
		alt="Ajuda"> 
	<a href="/config"> 	
		<img src="_imagens/icones/configurar.svg" class="img-fluid" alt="Configurações">
	</a> 	
</section>