<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="header-area-logada"></th:block>

<body class="interfaceLogada">

	<section id="lateral">
		<th:block th:include="menu-area-logada"></th:block>
	</section>
	<main>
		<section id="conteudo">
			<h1>Atualização da posição dos investimentos</h1>


			<th:block th:include="mensagem-validacao"></th:block>

			<form class="row g-3" method="post">

				<div class="col-md-6">
					<label class="form-label" for="corretora"> Corretora</label>
					<select class="form-select" id="corretora" name="corretora" required th:field="*{corretoraAtiva.id}">
	 					<option th:each="corretora: ${listaCorretoras}" 
	 						th:value = "${corretora.id}"
	 						th:text = "${corretora.nome}">
	 					</option>
					</select>
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary" type="submit">Carregar investimentos</button>
				</div>
			</form>
			<br/>
			
			<form class="row g-3" method="post">
				<div class="col-md-4">
					<label for="nome" class="form-label">Data</label> <input
						type="date" class="form-control" name="data" required>
				</div>
				<div class="col-md-8">
				</div>
				<p th:each="investimento: ${listaInvestimentosCorretora}"> 
				<span th:text="${investimento.nome)"></span>
					</p>
					<div class="col-md-6">
						<label for="nome" class="form-label">Nome</label> <input
							type="text" class="form-control" name="nome" >
					</div>
					<div class="col-md-4">
						<label for="valorInvestido" class="form-label">valor investido</label> 
						<input type="number" step=".01"
							class="form-control" name="valorInvestido" >
					</div>
					<div class="col-md-2">
					</div>
				<div class="col-md-4">
					<button class="btn btn-primary" type="submit">Cadastrar</button>
				</div>
				<div class="col-md-4">
					<a href="config-ativo">
						<button class="btn btn-primary" type="button">Voltar</button>
					</a>
				</div>
			</form>


		</section>
	</main>



	<th:block th:include="footer"></th:block>

</body>

</html>