<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="header-area-logada"></th:block>

<body class="interfaceLogada">
	<section id="lateral">
		<th:block th:include="menu-area-logada"></th:block>
	</section>
	<main>
		
		<section id="cards">
			<th:block th:include="area-logada/menu-caixas"></th:block>
		</section>
		
		<h1 th:text="${caixaAtiva.nome}"></h1>
		
		<section id="graficos">
			
		</section>
		<section >
			<table class="table table-hover  table-striped">
						<thead>
							<tr>
								<th scope="col">Ativo</th>
								<th scope="col">Código</th>
								<th scope="col">Data atualização</th>
								<th scope="col" class="numero">Valor cota</th>
								<th scope="col" class="numero">Cotas</th>
								<th scope="col" class="numero">Total</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="posicaoAtivo: ${listaAtivos}">

								<th scope="row"><span th:text="${posicaoAtivo.ativo.nome}"></span></th>
								<td ><span th:text="${posicaoAtivo.ativo.sigla}"></span></th>
								<td ><span th:text="${posicaoAtivo.data}"></span></td>
								<td class="numero"><span
									th:text="${#numbers.formatDecimal(posicaoAtivo.valorCota,1,'POINT',2,'COMMA')}"></span>
								</td>
								<td class="numero"><span
									th:text="${#numbers.formatDecimal(posicaoAtivo.cotas,1,'POINT',4,'COMMA')}"></span>
								</td>
								<td class="numero"><span
									th:text="${#numbers.formatDecimal(posicaoAtivo.valorTotal,1,'POINT',2,'COMMA')}"></span>
								</td>
							<td><a th:href="@{'atualizar-posicao-ativo'(id=${posicaoAtivo.ativo.id})}">
								<button type="button" class="btn btn-primary">Consultar ativo</button></a>
							</td>
							</tr>
						</tbody>
						<tfoot>
							<th>Total</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="numero"><span
							th:text="${#numbers.formatDecimal(#aggregates.sum(listaAtivos.![valorTotal]),1,'POINT',2,'COMMA')}"></span></td>
							<td></td>
						</tfoot>
					</table>
		</section>
	</main>

	<th:block th:include="footer"></th:block>

</body>

</html>