		<span th:each="caixa: ${listaCaixas}">
			<a th:href="@{'dash-caixa'(id=${caixa.id})}">
				<div class="painelCaixa" id="multimercados">
					<div class="rotuloCaixa">
						<h5 th:text="${caixa.nome}"></h5>
					</div>
					<div class="imgCaixa">
						<img src="_imagens/icones/multimercado.svg"
							class="img-fluid rounded-start" alt="Multimercado">
					</div>
					<div class="totalCaixa" >
						<p th:each="Totalcaixa: ${listaTotalCaixas}">
							<span th:if="${Totalcaixa.caixa == caixa}"  th:text="${#numbers.formatDecimal(Totalcaixa.valorTotal,1,'POINT',2,'COMMA')}"></span>
						</p>
					</div>
				</div>
			</a>
		</span>


