<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:include="header-area-logada"></th:block>

<body class="interfaceLogada">

    <section id="lateral">
        <th:block th:include="menu-area-logada"></th:block>
    </section>
    <main>
        <section id="conteudo">
        	<h1>Alterar caixa de investimento</h1>


			<th:block th:include="mensagem-validacao"></th:block>
        
        	<form class="row g-3" method="post">
            
            <div class="col-md-4">
              <label for="nome" class="form-label">Nome da caixa</label>
              <input type="text" class="form-control" name="nome" required th:attr="value = ${caixa.nome}">            
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-3">
              <label for="alocacaoTeorica" class="form-label">Alocação teórica(R$)</label>
              <input type="number" step=".01" class="form-control" name="alocacaoTeorica" required th:attr="value = ${caixa.alocacaoTeorica}">
            </div>
            <div class="col-md-3">
              <label for="percentualAlocacaoTeorica" class="form-label">Percentual alocação teórica(%)</label>
              <input type="number" step=".01" class="form-control" name="percentualAlocacaoTeorica" required th:attr="value = ${caixa.percentualAlocacaoTeorica}">
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary" type="submit">Atualizar</button>
            </div>
            <div class="col-md-6">
            	<a href="config-caixas">
        		 	<button class="btn btn-primary" type="button">Voltar</button>	
        		</a>
            </div>
          </form>   
        	
        	
        </section>
    </main>
    
 
    
<th:block th:include="footer"></th:block>

</body>

</html>